<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>new name form</title>
  </head>
  <body>
    <p><%= users %></p>
    <p>showspec</p>
    <% for(i in users){ %>
      <p><%= users[i].name  %></p>
    <% } %>
  </body>
</html>
